<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title><%= `${data.first_name} ${data.last_name}` %></title>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="text-center mt-4">
        <h1><%=`${data.first_name} ${data.last_name}`%></h1>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="col-sm-7">
            <table class="table">
                <thead class="text-center">
                  <tr>
                    <th scope="col">Movie</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Comments</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <% data.Movies.forEach(movie => { %>
                    <tr>
                      <td><p><%= movie.name %></p></td>
                      <td><p><%= movie.Rating.rating %></p></td>
                      <td style="word-wrap: break-word;min-width: 100px;max-width: 100px;"><p><%= movie.Rating.comment %></p></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>